apiVersion: v1
kind: Secret
metadata:
  name: deal-bzh-secrets
  labels:
    app: deal-bzh
type: Opaque
stringData:
  db-host: "mysql-service"
  db-name: "deal_bzh"
  db-user: "deal_bzh"
  db-password: "CHANGE_ME"
  # Ajoutez d'autres secrets si nécessaire
  # session-key: "CHANGE_ME"
  # encryption-key: "CHANGE_ME"


